input{
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: aqua;
    
    border-color: brown;



}
button{
border-radius: 10px;
padding: 50px;
background-color: chartreuse;
color: aliceblue;

}
#form-container{

    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
    
    
